<div class="container-fluid top_container">
  <% if current_user %>
      <div class="row-fluid">
          <%= direct_upload_form_for @uploader, html: {:class=>"form-inline"} do |f| %>
            <input type="hidden" name="Content-Type" value="image/jpeg">
            <input type="hidden" name="Cache-Control" value="max-age=315576000, public">
              <Strong>Ny avatar :</strong> <%= f.file_field :image, :value => 'Velg fil' %>
                <%= f.submit "Opprett avtar" , class: "btn btn-primary" %>
          <% end %>
      </div>
  <% end %>

  <div class="row-fluid">
    <div class="span12" id="gallery">
      <h1>Galleri</h1>

      <div class="demo-wrapper">
        <ul class="avtar_items">
          <%= render partial: "avatar", collection: @avatars %>
        </ul>
      </div>
    </div>

  </div>
</div>
