<p>Heisann <%= @email %>!</p>

<p>Kan du bekrefte at dette er din epost konto ved å trykke på linken under:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
